html{
    scroll-behavior: smooth;
  } 

  .header{
    background-image: url("delani-images/assets/backgrounds/first_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .mantra{
    padding-top: 150px;
  }
 
  .mantra h1{
    color: white;
    padding-top: 45px;
  }
  .mantra p{
    color: white;
    font-size: 10px;
  }

  h2{
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* DELANI SERVICES */

  .delani-serves{
    background-image: url("delani-images/assets/backgrounds/services.jpg");
    background-size: cover; 
    height: 300px;
    background-repeat: no-repeat;
  }
  .delani-serves h2{
    color: white;
    padding-top: 80px;
  }
  .delani-serves p{
    color: white;
    font-size: 12px;
  }

/* WHAT WE DO STYLES */
.delani-actions p{
    padding-top:10px ;
    font-size: 14px;
  }
  .delani-actions h4{
    font-size: 15px;
  }

  /* PORTFOLIO SECTION STYLES */

  #A{
    border-right: white solid 20px;
    background-image: url("delani-images/assets/portfolio/work4.jpg");
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #B{
    border-right: white solid 20px;
    background-image: url("delani-images/assets/portfolio/work3.jpg");
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    
  }
  
  #C{
    border-right: white solid 20px;
    background-image: url("delani-images/assets/portfolio/work2.jpg");
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    
  }
  #D{
    border-right: white solid 20px;
    background-image: url("delani-images/assets/portfolio/work1.jpg");
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    
  }
  #E{
    border-right: white solid 20px;
    background-image: url("delani-images/assets/portfolio/work5.jpg");
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    
  }
  #F{
    border-right: white solid 20px;
    background-image: url("delani-images/assets/portfolio/work6.jpg");
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    
  }
  #G{
    border-right: white solid 20px;
    background-image: url("delani-images/assets/portfolio/work7.jpg");
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    
  }
  #H{
    border-right: white solid 20px;
    background-image: url("delani-images/assets/portfolio/work8.jpg");
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    
  }