html{
    scroll-behavior: smooth;
  } 

  .header{
    background-image: url("delani-images/assets/backgrounds/first_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .mantra{
    padding-top: 150px;
  }
 
  h2{
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mantra h1{
    color: white;
    padding-top: 45px;
  }
  .mantra p{
    color: white;
    font-size: 10px;
  }
  /* DELANI SERVICES */

  .service{
    background-image: url("delani-images/assets/backgrounds/services.jpg");
    background-size: cover; 
    height: 300px;
    background-repeat: no-repeat;
  }
  .service h2{
    color: white;
    padding-top: 80px;
  }
  .service p{
    color: white;
    font-size: 12px;